*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading_style{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HP Simplified;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 15px 0;
  background-color: rgb(139, 173, 173);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main_box{
    /* background-color: antiquewhite; */
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
}
.Slot_1{
  border: 2px solid black;
  background-color:ghostwhite;
  justify-content: center;
  text-align: center;
  /* display: flex; */
}
.Slot_2{
  border: 2px solid black;
  background-color:ghostwhite;
  justify-content: center;
  text-align: center;
  /* display: flex; */
}
.Slot_3{
  border: 2px solid black;
  background-color:ghostwhite;
  justify-content: center;
  text-align: center;
  /* display: flex; */
}
.Text_style{
  font-family: HP Simplified;
  padding-top: 6px;
}
.Slot_heading{
  font-family: HP Simplified;
  font-weight: 1000;
  padding-bottom: 4px;
  letter-spacing: 3px;
}
